Source: php-yubico
Section: web
Priority: optional
Maintainer: Yubico Open Source Maintainers <ossmaint@yubico.com>
Uploaders: Simon Josefsson <simon@josefsson.org>, Klas Lindfors <klas@yubico.com>
Build-Depends: debhelper (>= 7), dh-make-php (>= 0.2.3), cdbs
Standards-Version: 3.9.3
Homepage: https://code.google.com/p/php-yubico/
DM-Upload-Allowed: yes
Vcs-Git: git://github.com/Yubico/php-yubico-dpkg.git
Vcs-Browser: https://github.com/Yubico/php-yubico-dpkg

Package: php-yubico
Architecture: all
Depends: php-pear, php5-curl, ${misc:Depends} 
Description: PHP PEAR module for verifying Yubico YubiKey One-Time Passwords
 YubiKeys are USB HID devices that act like keyboards and generate
 one-time passwords (OTPs).
 .
 This PHP module is used for talking to an online validation server
 that implements the YK-VAL protocol, such as Yubico's YubiCloud or a
 locally installed server.
